<app-vini></app-vini>
<div class="container__app" style="display: none;">
    <div class="creazione">
        <span class="h1__medium" style="font-style: italic">Sito in costruzione</span>
        <div>
            <span (click)="octimal()" style="cursor: pointer; text-decoration:underline">by octimal</span>
        </div>
    </div>
    <img class="menu__logo" src="../../../assets/immagini/home/logo.png">
</div>
<div class="logo">
    <svg class="octimal" width="200" height="100">
    <text class="octitxt1" x="50%" y="70%" style="font-family: 'Montserrat', sans-serif" dominant-baseline="middle" text-anchor="middle" (click)="octimal()">OCTIMAL</text>    
  </svg>
</div>