<main>
    <div class="menu">
        <h4 class="text__yellow">Menù</h4>
    </div>
    <div class="circles__up">
        <svg width="800" height="850">
            <circle cx="200" cy="200" r="200" stroke="#bf934188" stroke-width="2" fill="#171e25" />
            <circle cx="700" cy="420" r="120" stroke="#bf934188" stroke-width="2" fill="#171e25" />
            <circle cx="520" cy="730" r="100" stroke="#bf934188" stroke-width="2" fill="#171e25" />
        </svg>
    </div>
    <div class="generale">
        <div class="top">
            <div>
                <div>
                    <h1 class="h1__big text__yellow">Vini</h1>
                    <h1 style="margin-left: 3vw;" class="h1__little text__yellow">ispirati dalla</h1>
                    <h1 style="margin-left: 2vw;" class="h1__medium text__white">terra</h1>
                </div>
                <div class="top__descrizione">
                    <h3 class="text__yellow">
                        Benvenuti in cantina Chizzola - una cantina nel cuore del Trentino.
                    </h3>
                    <p>
                        Produciamo vini che ti faranno innamorare delle nostre viti e soprattutto ti daranno un'esperienza unica di gusto.
                    </p>
                </div>
            </div>
            <div class="top__centro">
                <!-- Uva grande -->
                <a>
                    <img class="img__home__uno" src="../../../assets/immagini/home/grappolo__un.png"></a>
            </div>
            <div class="top__destra">
                <h1 style="margin-left: 4vw;" class="text__white">L'essenza</h1>
                <h2 style="margin-left: 5vw;" class="text__white">del</h2>
                <h1 style="margin-left: 1vw;" class="text__yellow">Trentino</h1>
                <div>
                    <div class="mini__carousel">
                        <!-- Carousel vini piccolo -->
                        <div class="home__vino__due">
                            <img style="cursor: pointer;" src="../../../assets/immagini/vino__due/home__vino__due.png">
                            <h3 class="text__yellow">
                                Vino Chardonnay
                            </h3>
                            <span style="cursor: pointer;" class="text__white">Scopri di più</span>
                        </div>
                        <div class="home__vino__uno">
                            <img style="cursor: pointer;" src="../../../assets/immagini/vino__uno/home__vino__uno.png">
                            <h3 class="text__yellow">
                                Vino Pinot Grigio
                            </h3>
                            <span style="cursor: pointer;" class="text__white">Scopri di più</span>
                        </div>
                    </div>
                    <div>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>